

body{
    margin: 0;
    padding: 0;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}
#calculator-app{
    width: 400px;
    background: hsl(0, 0%, 30%);
    padding: 20px;
    border-radius: 10px;
}
#display{
    width: 90%;
    padding: 20px;
    font-size: 50px;
    text-align: left;
    border: none;
    outline: none;
    background: hsl(0, 0%, 20%);
    color: white;
    font-weight: bold;
}
.calc-name{
    font-size: 28px;
    font-weight: bold;
    margin: 20px 0 0 0px;
    color: white;
    text-align: center;
}
#keys{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 10px;
    column-gap: 10px;
    justify-content: center;
    max-width: 385px;
    padding: 20px;
}
#keys1{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 20px;
    max-width: 385px;
    padding: 0px 20px;
}
.operator-btn{
    background: hsl(39, 100%, 55%);
}
.operator-btn:hover{
    background: hsl(39, 100%, 60%);
}
.operator-btn:active{
    background: hsl(39, 100%, 65%);
}
button{
    width: 75px;
    height: 75px;
    border: none;
    border-radius: 10px;
    background: hsl(0, 0%, 40%);
    color: white;
    font-size: 36px;
    font-weight: bold;
    cursor: pointer;
}
button:hover{
    background: hsl(0, 0%, 50%);
}
button:active{
    background: hsl(0, 0%, 60%);
}
.clear-btn{
    width: 260px;
}
.name-btn{
    background: hsl(120, 100%, 45%);
}
@media (min-width: 420px) and (max-width: 600px) {
    body{
        overflow-x: hidden;
        background: hsl(0, 0%, 20%);
    }
    #calculator-app{
        width: 350px;
        overflow-x: hidden;
    }
    #keys1{
        gap: 10px;
        padding: 0px 10px;
    }
    .clear-btn{
        width: 245px;
    }
}